body {
  font-family: Arial, sans-serif;
  background-color: #8131d1;
  padding-top: 6rem;
  color: #eddbff;
}

h1 {
  text-align: center;
}

.container {
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 16px;
  background: linear-gradient(145deg, #782ec3, #6527a4);
  box-shadow: 6px 6px 13px #582290, -6px -6px 13px #8834dc;
}

label {
  font-weight: bold;
}

input[type='number'] {
  margin-top: 0.5rem;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
  border-radius: 8px;
  background: #702bb6;
  box-shadow: inset 6px 6px 13px #582290, inset -6px -6px 13px #8834dc;
  color: #eddbff;
}

#btn {
  margin-top: 0.5rem;
  cursor: pointer;
  width: 100%;
  border: none;
  height: 2rem;
  border-radius: 8px;
  color: #8834dc;
  font-weight: 800;
  background: #eddbff;
}

.result {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}
